<div class="reset-password-page-container">
  <div class="reset-password-card">
    <h2>Redefinir Senha</h2>
    <p class="instruction-text">Digite e confirme sua nova senha.</p>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Nova Senha</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required placeholder="Digite sua nova senha">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required placeholder="Confirme sua nova senha">
      </div>
      <button type="submit" class="btn-primary btn-submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">Redefinir Senha</span>
        <span *ngIf="isLoading">Redefinindo...</span>
      </button>
    </form>

    <div *ngIf="message" class="message" [ngClass]="{'success': !isError, 'error': isError}">
      {{ message }}
    </div>
  </div>
</div>
